.about {
  display: flex;
  flex-direction: column;
  padding: 4rem 6rem;
}

.heading {
  font-family: "Megrim", cursive;
  text-align: center;
  margin: 0 0 2rem;
  font-size: 2.5rem;
  color: var(--primary);
}

.content p {
  font-family: "Josefin Sans", sans-serif;
  margin: 1rem;
  font-size: 1.1rem;
  color: var(--primary);
  line-height: 25px;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  padding: 2rem;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  margin-bottom: 1rem;
}

.card h5,
.card svg,
.card p {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5px;
}

.card p,
.card h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

.about a {
  padding: 7px 1rem;
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s ease;
  margin-left: 1rem;
}

.about a:hover {
  background-color: gray;
}

.hobbyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobby {
  color: var(--primary);
  margin-bottom: 7rem;
}

.hobby li {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.hobby li svg {
  margin: 0 0.5rem;
  color: var(--secondary);
}

.hobby li p {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 425px) {
  .about {
    padding: 4rem 1rem;
  }
  .container {
    flex-direction: column;
  }
}
