@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--white);
  transition: background-color 1s ease;
}

:root {
  --primary: rgb(61, 60, 60);
  --secondary: rgb(144, 42, 160);
  --white: #fff;
  --boxShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.darkMode {
  --primary: #fff;
  --secondary: rgb(144, 42, 160);
  --white: #2a2727;
}

span {
  color: var(--secondary);
}
