* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--white);
  transition: background-color 1s ease;
}

:root {
  --primary: rgb(61, 60, 60);
  --secondary: rgb(144, 42, 160);
  --white: #fff;
}

.darkMode {
  --primary: #fff;
  --secondary: rgb(144, 42, 160);
  --white: #2a2727;
}

span {
  color: var(--secondary);
}
