@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: relative;
}

.header h1 {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
}

.header h1 span {
  color: var(--secondary);
}

.rightNav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 3rem;
}

.navbar a {
  color: var(--primary);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.toggleBtn {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
  padding: 5px 5px 3px;
  box-shadow: var(--boxShadow);
}

.toggleBtn svg {
  font-size: 20px;
  margin: 0;
  color: var(--primary);
}

.bars {
  display: none;
}

@media (max-width: 768px) {
  .bars {
    display: block;
  }

  .rightNav {
    position: absolute;
    top: 0;
    left: -100%;
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
    height: 100vh;
    z-index: 3;
    transition: left 1.3s ease-in-out;
  }

  .rightNav.active {
    left: 0;
  }

  .navbar {
    flex-direction: column;
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 1rem 1.5rem;
  }
  .rightNav {
    width: 80%;
    box-shadow: var(--boxShadow);
  }
}
