.heading {
  text-align: center;
}

.heading h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: var(--primary);
}

.heading p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
}
.portfolio .portfolio_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
  padding: 0 80px;
}
.mainContainer {
  margin-top: 20px;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  overflow: hidden;
}

.portfolioImg {
  width: 100%;
}
.content {
  /* margin-top: 15px; */
  padding: 20px;
}
.content h3,
.content p,
.content h5 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
  margin-bottom: 6px;
}

.content h5 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.content p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.content a {
  padding: 7px 1rem;
  border-radius: 4px;
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  background-color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s ease;
}

.content a:hover {
  background-color: gray;
}

.content .portfolio_button_div {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .mainContainer {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .portfolio .portfolio_grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px;
  }
  .content {
    padding: 0 1rem 1.5rem;
  }

  .portfolio {
    padding-bottom: 6rem;
  }
  .portfolioImg {
    height: 150px;
  }
  .mainContainer {
    width: 100%;
  }
}
