.qualification {
  padding: 3rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: transparent; */
  padding: 0 3rem;
}

.btnDiv {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: none;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
}

.button p {
  font-weight: 600;
  transition: 0.4s ease;
}

.button svg {
  font-size: 1.4rem;
  color: var(--secondary);
  transition: 0.4s ease;
}

.button:hover svg,
.button:hover {
  color: var(--secondary);
}

.timeline {
  /* list-style: none; */
  margin: 1rem 0;
}

.timeline li {
  margin-bottom: 0.5rem;
}

.timeline li h5 {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}

/* .timeline li p {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
  margin: 3px 0;
} */

.jobExp {
  padding-left: 2rem !important;
  list-style: square;
}

.jobExp li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  color: var(--primary);
}

@media (max-width: 425px) {
  .mainContainer {
    padding: 0;
  }
}
